region = "us-ashburn-1"
ad = "LUbc:US-ASHBURN-AD-1"
compartment_ocid = "ocid1.compartment.oc1..
shape = "VM.Standard.E4.Flex"
subnet_ocid = "ocid1.subnet.oc1."
access_cfg_file_account = "/home/opc/.oci/config"